.item {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  width: 400px;
  height: 260px;
  margin: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.item img {
  width: 35%;
  height: 100%;
  object-fit: cover;
}

.item-details {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: 10px;
  box-sizing: border-box;
  flex: 1;
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}

.item-rating {
  display: flex;
  align-items: center;
}

.rating-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 3px solid #e9d100;
  border-radius: 50%;
  font-weight: 500;
  font-size: 12px;
}

.item-description {
  margin-top: 5px;
  font-size: 12px;
  height: px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.item-rate {
  font-size: 14px;
  margin-top: auto;
  margin-bottom: 5px;
  margin-left: 5px;
}

.item-date {
  font-size: 12px;
  color: #827e7e;
  margin-bottom: 5px;
}

.item-genres {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 5px;
}

.genre-badge {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 2px 2px;
  font-size: 12px;
  margin-right: 5px;
  margin-bottom: 5px;
  white-space: nowrap;
}
